<h1>Employee Details</h1>
<hr/>
<style>
    table, tr, td {
      border: 1px solid black;
    }
    </style>
<table>
    <tr>
        <td><b>Employee Id</b></td>
        <td>{{empId}}</td>
    </tr>
    <tr>
        <td><b>Employee Name</b></td>
        <td>{{empName}}</td>
    </tr>
    <tr>
        <td><b>Employee Job</b></td>
        <td>{{empJob}}</td>
    </tr>
    <tr>
        <td><b>Employee Salary</b></td>
        <td>{{empSalary}}</td>
    </tr>
    <tr>
        <td><b>Employee Depo</b></td>
        <td>{{empDepo}}</td>
    </tr>
</table>

